.items{
}
body{
    background-color: #ebf0f2;
    margin: 0 180px;
}

.item{
    margin-bottom: 40px;
    border: 1px solid #cbd0d1;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    border-radius: 6px;
}
.item-title{
    font-size: 22px;
    font-weight: bold;
}
.item-msg{
    font-size: 18px;
}
.item-link{
    font-size: 18px;
    text-decoration: none;
    color: #f63 !important;
    font-weight: bold;
}
.item-link:hover{
    text-decoration: underline;
}
