body{
    background-color: #ebf0f2;
    margin: 0 180px;
}
h3{
    font-size: 22px;
    font-weight: bold;
}
p{
    font-size: 18px;
}
.item-lab{
    margin-bottom: 40px;
    border: 1px solid #cbd0d1;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    border-radius: 6px
}
.item-lab-link{
    text-decoration: none;
    color: white !important;
    background-color: #159c80;
    text-align: center;
    font-size: 18px;
    padding: 6px;
    width: 200px;
}

.button-hint{
    cursor: pointer;
    padding: 5px 15px;
    background-color: #007aff;
    color: white;
}
.msg-hint{
    display: none;
    color: #159c80;
}