name: Scanner Fortify

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    
    steps:    
    - name: Check out source code
      uses: actions/checkout@v4  
    - name: Run Fortify on Demand SAST & SCA Scan
      uses: fortify/github-action@v2
      with:
        sast-scan: true
        debricked-sca-scan: true
      env:
        FOD_URL: https://ams.fortify.com
        FOD_TENANT: ${{secrets.FOD_TENANT}}
        FOD_USER: ${{secrets.FOD_USER}}
        FOD_PASSWORD: ${{secrets.FOD_PAT}}
        FOD_RELEASE: ${{secrets.FOD_RELEASE}}